.year-circle-container {
  width: 100%;
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.year-title {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(66, 86, 122);
  font-size: 56px;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  max-width: 353px;
  padding-left: 80px;
  border-left: 5px solid;
  border-image: linear-gradient(to bottom, #3877EE 0%, #EF5DA8 100%) 1;
}

.circle-svg {
  width: 600px;
  height: 600px;
  z-index: 2;
}

.dot {
  transition: r 0.3s ease, cx 0.5s ease, cy 0.5s ease, fill 0.3s ease;
  cursor: pointer;
  z-index: 3;
}

g:hover .dot,
.dot.selected {
  r: 28;
  fill: rgb(244, 245, 249);
  outline: 1px solid rgba(48, 62, 88, 0.5);
  border-radius: 50%;
}

.dot+text {
  display: none;
  fill: #42567A;
  cursor: pointer;
}

g:hover .dot+text,
.dot.selected+text {
  display: flex;
}

.dot-number{
  color: rgb(66, 86, 122);
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.dot-title {
  color: rgb(66, 86, 122);
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}
.dot-title-mob {
  display: none;
}

.year-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.year-text {
  position: absolute;
  font-size: 200px;
  font-weight: 700;
  line-height: 160px;
  text-align: center;
  z-index: 1;

  &.from-year {
    color: #3877ee;
    margin-right: 535px;
  }

  &.to-year {
    color: #ef5da8;
    margin-left: 535px;
  }
}

@media screen and (max-width: 1024px) {
  .year-circle-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    position: initial;
  }
  .year-title {
    color: rgb(66, 86, 122);
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 0;
    border: none;
    max-width: 123px;
  }

  .circle-svg {
    display: none;
  }

  .year-title,
  .year-text,
  .navigation {
    position: initial;
  }

  .year-container {
    width: 100%;
    position: initial;
    justify-content: space-between;
    gap: 0;
  }
  
  .year-text {
    font-family: PT Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: -2%;
    text-align: left;
  }
  .year-text.from-year,
  .year-text.to-year {
    margin: 0;
  }

  .dot-title-mob {
    width: 100%;
    display: flex;
    color: rgb(66, 86, 122);
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    border-bottom: 1px solid rgb(199, 205, 217);
    padding-bottom: 24px;
  }
}